
.banner{
  padding-top: 0;
  background-color: $green;
  text-align: center;
  justify-content: center;
    h1 {
  font-weight: bolder;
  font-size: 100px;
  font-family: $headers-font;
  height: 500px;
  padding: 70px;
  margin: 0;
    }
   }
.button-content{
  margin-bottom: 50px;
}
  .home-slogan {
  background-color: $gray;
  font-weight: 400px;
  font-size: 40px;
  color: lightgrey;
  font-style: italic;
  height:150px;
  text-align: center;
  justify-content: center;
  }

  .play-button{
    font-size: 50px;
    color: white;

    width: 250px;
    height: 150px;
    border-radius: 5px;
    background-color: $gray;

  }


.has-red-bg {
  background-color: red;
}

.flexbox {
  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }
}
