.card-footer {
  position: absolute;
  background-color: green;
  height: 30px;
  width: 250px;
  justify-content: space-between;
  border-radius: 5px;
    i {
      color: black;
      justify-content: center;
    }
}
