.plants-index {
  display: flex;
  background-color: rgb(250,250,250);
}


.search-bar {
  margin: 30px;
  display: flex;
  justify-content: space-around;
}

.container-plants {
  display: flex;
  padding-left: 10px;
}

.card-container {
  width: 230px;
  height: 300px;
  background-color: white;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 4px;
  position: relative;
  box-shadow: 2px 1px 1px $light-gray;
}

.card {
  width: 200px;
  height: 200px;
  background-size: cover !important;
  background-position: center;
  color: white;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 40px;
  margin: auto auto;
  border-radius: 2px;
}

.container-description {
  width: 200px;
  position: absolute;
  right: 0;
  left: 0;
  top: 200px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

.card-description {
  font-size: 14px;
  color: black;
  margin-bottom: 0px;
}
.card-city {
  font-size: 14px;
  color: black;
  font-weight: lighter;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.2;
}

.btn-rent-plant {
  background-color: $green;
  font-weight: lighter;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  position: absolute;
  right: 0;
  left: 40px;
  top: 185px;
  bottom: 0;
  text-align: center;
  padding-top: 3px;
  cursor: pointer;
}

.btn-rent-plant:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.card-price-per-day {
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.map-div {
  margin-left: 20px;
}

.pen {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
}
.trash {
  // position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
}

.owner-card-description {
  font-size: 14px;
  color: blue;
}
















