.grid{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: calc(100vh - 70px);
  padding: 15px;
}


.plant-description {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.owner-description{
  grid-column: 1 / span 2;
  grid-row: 3 / span 2;
}

.booking-form{
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}

.plant-summary {
  display: flex;
  justify-content: space-between;
}

.plant-main-infos {
  margin-left: 30px;
  text-align: center;
}

.plant-main-infos h2 {
  color: $green;
}


.plant-owner {
  display: flex;
}

.plant-description {
}

.plant-description p {
  margin-top: 20px;
  font-size: 13px;
}

.owner-title {
  border-bottom: 1px dotted $gray;
  margin-bottom: 15px;
  margin-top: 15px;
}

.owner-title h2 {
  font-size: 20px;
}
.owner-picture {
  width: 150px;
  border-radius: 50%;
}

.owner-details {
  margin-left: 30px;
}
