<div class="container-bookings-requests">
  <ul class="list-group list-group-flush">
    <div class="container-lists">
      <% if @requested_bookings.empty? %>
        <div class="title text-center">
          <br><p>You don't have any requests yet!</p>
        </div>

      <% else %>
        <div class="title text-center">
          <br><p>Here is the list of your requests. </p><br>
        </div>

        <%@requested_pending_bookings.each do |requested_booking|  %>
          <%= render 'request_card', requested_booking: requested_booking %>
        <% end %>

        <%@requested_non_pending_bookings.each do |requested_booking|  %>
          <%= render 'request_card', requested_booking: requested_booking %>
        <% end %>

      <% end %>
    </div>
  </ul>
</div>


