  <div class = "banner">
  <h1>Share your plants</h1>
  <div class= "button-content">
    <%= link_to "Enter The Garden", plants_path, class: 'play-button' %>
    </div>
  <div class = "home-slogan">
    <p>The good place for easy sharing plants !!</p>
  </div>
  </div>
